* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.sec_head{
    position: fixed;
    width: 100%;
    min-height: 100px;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    background: rgb(130, 130, 130);

}
.ctulogo {
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
}
.ctulogo:hover{
    transform: scale(1.3);
}
a .ctulogo{
    margin:0px 10px;
}
.githublogo {
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
}
.githublogo:hover{
    transform: scale(1.3);
}
a .githublogo{
    margin:0px 10px;
}
header ul {
    position: relative;
    display: flex;
    
}
header ul li {
    list-style: none;
   
}
header ul li a {
    display: inline-block;
    color: rgb(254, 254, 254);
    font-weight: 450;
    font-size: large;
    padding: 1rem 3.5rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    
}
header ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(89, 83, 83);
}
header ul li a:active{
    background-color: #348136;
    box-shadow: 1px 5px #348136;
    transform: translateY(5px);
}

/* footer */

section footer{
    position: fixed; 
    margin-bottom: 5px;
    bottom: 5px;   
    width: 100%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
}

/* body */


/* trangchu */
h1{
    margin-bottom: 40px;
    border: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: #303030;
}

.h1_trangchu {
    margin-bottom: 40px;
    border: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    color: #3d6599;
}
.h3_trangchu {
    border: 0;
    margin: 20px 0;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    color: #658ec6;
}
.ul_trangchu{
    color: #658ec6;
    margin: 20px 0;
}
.row{
    min-height: 500px;
    display: flex;
    justify-content: space-between;

}
.luudo{
    margin-top: 30px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.luudo:hover{
    transform: scale(1.05, 1.05);
}
.col1 {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col2 {
    min-width: 470px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    padding: 10px 50px 50px 50px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col3 {
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    transition: all .2s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    padding: 10px 50px 50px 50px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col1:hover{
    transform: scale(1.05, 1.05);
}
.col2:hover{
    transform: scale(1.05, 1.05);
}
.col3:hover{
    transform: scale(1.05, 1.05);
}
.li_trangchu{
    line-height: 30px;
}

/* thuchien */


/* capnhat */


/* bieudo */
